body{
    background-color: forestgreen;
}

label{
    text-align: center;
    padding: 0;
    margin: 20px auto;
    margin-bottom: 0;
    font-size: 100px;
    display: block;
    color: white;
}

#button-holder{
    display: block;
    margin: auto;
    text-align: center;
}

button{
    background-color: transparent;
    display: inline;
    margin: 0 auto;
    color: white;
    font-size: 100px;
    outline: none;
    border: none;
    user-select: none;
}